 body {
  font-family: "Google Sans", sans-serif;
  background-color: #2f2f2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

.dark-mode {
  --bg-color: #2d2d2d;
  --text-color: #fff;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.light-mode {
  --bg-color: #ffffff;
  --text-color: #333333;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.secret-mode {
 background-color: #762f9a;
 color: #ffffff;
}

/* Other styles for the secret mode */
.secret-mode .container {
  border-color: #ffffff;
}

.secret-mode h1,
.secret-mode p,
.secret-mode .button {
  color: #ffffff;
}

.button.disabled {
  pointer-events: none; /* Disable pointer events on the disabled button */
  opacity: 0.6; /* Reduce the opacity of the disabled button */
}


#container {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.button:hover {
  background-color: #ddd;
  color: #1f1f1f;
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  #container {
    width: 90%;
    padding: 30px;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .button {
    padding: 8px 20px;
    margin-top: 10px;
  }
}
