body {
  background-color: transparent;
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: transparent;
  text-align: center;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
}

p {
  font-size: 24px;
  margin-bottom: 50px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  border-color: red;
  border: 5px solid white;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.button:hover {
  background-color: #222222;
}

.navbar {
  background-color: #333333;
  padding: 10px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
}
